body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.caja {
  /* Propiedades espciales que se heredan */
  font-size: 20px;
  color: blue;

  outline: 2px solid green;
  width: 100px;
  height: 100px;
  border: 5px solid orange;
  padding: 50px;
  margin: 50px;
}
h1 {
  color: red;
}

.titulo-principal-texto-grande {
  font-size: 60px;
  color: black;
}

#texto-pequeno {
  font-size: 35px;
  color: blue;
}

header > nav > a {
  font-size: 50px;
}

h2,
.texto-centrado {
  text-align: center;
}

aside a {
  color: green;
  font-size: 30px;
}

/* Estilizar textos */
/* text-align: right;left or center; */
/* text-align: justify; quitar los epacios de los textos molestos*/
.Alineacion {
  text-align: right;
  text-align: justify;
}

.Tamanos {
  font-size: 22px;
}

.Decoration {
  text-decoration: underline;
}

.quitar-subrayado {
  text-decoration: unset;
}

.Transformaciones {
  /* Texto para manejar las mayusculas y minusculas del texto */
  text-transform: capitalize;
}

.Espacio {
  /* Modifica el espacio de una linea de texto */
  line-height: 40px;
  /* Modifica el espacio entre letras  */
  letter-spacing: 1px;
  /* Modifica el espacio entre cada palabra */
  word-spacing: 10px;
}

.grosor-letra {
  /* El valor del grosor de la letra */
  font-weight: 800;
}

.posicion-caja-1,
.posicion-caja-2,
.posicion-caja-3,
.posicion-caja-4 {
  height: 300px;
  width: 300px;
  border: 3px solid black;
  margin: 20px;
  text-align: center;
}

.caja-padre {
  position: relative;
  border: 2px solid blue;
}

.posicion-caja-1 {
  /* El movimiento sera relativo a la posicion inicial 1 movimiento por eje, asi mismo sera el emuje dependiendo del lado, el movimiento sera apartir de la posicion del elemento */
  position: relative;
  /* left: 200px; */
}

.posicion-caja-2 {
  /* Su posicion es relativa a las dimensiones de la etiqueta padre relative, esta no ocupara espacio sera como una imagen al frente */
  position: absolute;
  border-color: red;
  bottom: 0;
  right: 0;
}

.posicion-caja-3 {
  /* position: fixed;
  bottom: 0;
  right: 0; */
  position: relative;
}

.posicion-caja-4 {
  /* Posicion que se comporta mediante el scroll del usuario tocando con la parte superior de la pantalla */
  /* position: sticky; */
  /* La medida del top es entonces la distancia para correr la accion */
  /* top: 20px; */
  position: relative;
}

.llamando {
  width: 100px;
}

.cuadricula {
  outline: 2px solid red;
  display: grid;
  /* grid-template-columns: auto auto; ajusta autamaticamente*/
  /* grid-template-columns: 1fr es partir en fraccion la cuadricula la fraccion se cuadrara sola */
  grid-template-columns: auto 1fr 1fr;
  /* Ordena los objetos de manera horizontal, flex hacia los lados o center*/
  justify-items: flex-start;
  grid-template-rows: 100px 100px 100px;
  /* Ordena los objetos de manera vertical */
  align-items: center;
}

.uno {
  /* object fit cover permite llenar la cuadricula */
  object-fit: cover;
  /* Columnas que ocupara la imagen */
  grid-column: 1/3;
  /* las filas que ocupara la imagen */
  grid-row: 1/4;
  justify-self: flex-start;
  align-items: center;
}

.distribucion-flex{
  /* Unidad vh -> View height */
  /*        wh -> View width */
  height: 200px;
  /* Mostrar el contenido no en lista si no hacia la derecha */
  display: flex;
  /* Ajusta el espacio entre elementos segun la disposicion */
  justify-content: space-around;
  /* Ajusta la dirrecion de los elementos ya sea en columna o fila que albergara el contenido de la etiqueta padre */
  /* En columna hablamos mucho de la altura de la etiqueta que podremos establecer */
  flex-direction: column;
}

.distribucion-flex div {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  color: blue;
}


.boton-animado{
  padding: 10px;
  border: none;
  /* Modifica el fondo del elemento */
  background: rgb(122, 122, 230);
  color: black;
  /* redondea las esquinas */
  border-radius: 5px;
  /* modificar el cursor */
  cursor: pointer;
  /* Agregar transiciones */
  transition: 
  padding 0.5s, 
  background-color 0.5s,
  color 0.5s;
}
/* Esta es una animacion con el cursor encima */
.boton-animado:hover {
  padding: 10px;
  padding-left: 50px;  
  color: white;
  background-color: green;
}

/* Esta es una animacion para una caja animada la cual se lleva mediante la propiedad animation y la creacion de animacion */
.caja-animada{
  position: relative;
  
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: blue;
  margin-top: 20px;
  /* Los ultimos comportamientos son los parametros del movimiento de la animacion ya sea su guia como si infitididad */
  animation: mover-el-cubito 4s alternate infinite;
}

/* Es una animacion que se realiza sola sin poner el cursor encima, mediante porcentajes de la duracion de la animacion */
@keyframes mover-el-cubito {
  0% {
    top: 0px;
    left: 0px;
  }

  50%{
    top: 100px;
  }

  100% {
    top: 0px;
    left: 300px;
    background-color: violet;
  }
}
/* 
Las etiquetas Display Inline por defecto son: 
- Button
- Input
- img
- span

por tanto el margin no les servira, por tanto para que sirva 
el Display debe ser: BLock
*/
.transformacion-boton {
  display: block;
  margin: auto;
}

.transformacion-boton:hover{
 /*  Escalar el elemento */
  transform: scale(1.2);
  transition: 1S;
 

  /* rotar elementos
  transform: rotate(45deg);
  unidad deg para representar grados
  */

  /* 
  Etiqueta para mover elementos a un plano cartesiano
  transform: translate(100px,-50px);
   */
}

.titulo-animado{
  text-align: center;
  animation: aparece 2s linear forwards;
}

@keyframes aparece {
  from {
    transform:  translate(-1000px, 0px);
  }

  to {
    transform: translate(0px,0px);
  }
}

.responsive{
  word-spacing: 25px;
  font-size: 200px;
}

/* Media es la propiedad para agregar una propiedad para achicar los elementos
  Al momento que estos se achican dependiendo el tamaño de la pantalla
  para este caso el ancho
*/
@media screen and (width < 1352px) {
  .responsive {
    font-size: 170px;
  }
  
}

@media screen and (width < 1160px) {
  .responsive {
    font-size: 150px;
  }
  
}

@media screen and (width < 1018px) {
  .responsive {
    font-size: 55px;
    word-spacing: 0px;
  }
}